@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #103963;
  --foreground: #0F172A;

  --card: #FFFFFF;
  --card-foreground: #0F172A;

  --primary: #4F46E5;
  --primary-foreground: #FFFFFF;

  --secondary: #6366F1;
  --secondary-foreground: #FFFFFF;

  --accent: #06B6D4;
  --accent-foreground: #FFFFFF;

  --border: #E2E8F0;
  --muted: #64748B;
}
